.liste
{
	width:13em;
	background:#e4d8d0;
	height:fit-content;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;

	padding:0.3em;
	margin:1em;
}


.tache
{
	width:10em;
	background:#e8d8b9;

	display:flex;
	justify-content:space-around;
	align-items:center;

	margin:0.3em;
	border:2px solid white;

	cursor:pointer;
}

.top-tache
{
        display:flex;
        justify-content:space-between;
        align-self:flex-start;
        height:fit-content;
        width:90%;
        padding:3px;
}

.top-tache p
{
        margin:0px;
}

#task_name_input
{
	width:60%;
	margin-top:0.3em;
	margin-bottom:0.3em;
}

#task-infos div
{
	width:2em;
	height:2em;
	display:flex;
	justify-self:flex-end;
	align-self:center;
}

#task-infos span
{
	width:100%;
	align-self:center;
	display:flex;
	justify-content:space-between;
}

#states0
{
	background:red;
}
