html{
    height:100%;
}

.todolist{
    display: flex;
    flex-direction: column;
    height:100%;
}

.todolist main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: center;
}

.accueil{
    display: flex;
    flex-direction: column;
    height:100%;
}

.accueil main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: center;
}

.accueil main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accueil header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    background:rebeccapurple;
}

.accueil header aside{
    display: flex;
    width:50%;
    align-items:center;
    justify-content: space-evenly;
}

.accueil header aside div{
    display: flex;
    flex-direction: column;
}